# Intellij IDEA specific directory
/.idea
/self-service-registartion/.idea
/service-registrar/.idea

# Target directories
/self-service-registartion/target
/service-registrar/target

# all .iml files
*.iml